<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper">

<!-- #{}는 vo에 있는 변수이름 -->
<select id="insert">
	insert into ec_board (title, content, writer) values(#{title}, #{content}, #{writer});
</select>
</mapper>